@page "/TaskList"

<h3>Task List</h3>

@if (Tasks == null)
{
<Loading /> }
            else
            {
<div class="row">
    <TaskSearch OnSearch="onsearchTaskList" />
</div>

                <div class="row mt-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>Assignee</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Tasks)
                            {
            <tr>
                <td>@item.Name</td>
                <td><PriorityLabel Priority="@item.Priority" /></td>
                <td><a style="cursor:pointer;">@item.AssigneeName</a></td>
                <td>@item.CreatedDate.ToString("dd/MM/yyy hh:mm")</td>
                <td><StatusLabel Status="@item.Status" /></td>
                <td>
                    <a href="/taskDetail/@item.Id" class="btn btn-primary">Detail</a>
                    <a href="/taskEdit/@item.Id" class="btn btn-warning">Edit</a>
                    <button class="btn btn-danger" @onclick="()=>OnDeleteTask(item.Id)">Delete</button>

                </td>
            </tr>
}

                        </tbody>
                        <tfoot>
                            @*<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>*@
                        </tfoot>
                    </table>
                </div>}
<Confirmation  @ref="DeleteConfirmation" ConfirmationChange="OnConfirmDeleteTask"/>